body {
	font-family: Avenir;
	margin: 0;
	/*color: rgba(255, 255, 255, 0.77);*/
	display: flex;
	flex-direction: column;
}
h1 {
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.content {
	width: 700px;
	max-width: 100%;
	margin: auto;
	padding: 20px;
	flex: 1;
	box-sizing: border-box;
}
.labels {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex: 1;
	margin-right: 2vw;
	max-width: 550px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.highlight:hover {
	color: black;
}
.highlight {
	padding: 10px;
	color: rgba(0, 0, 0, 0.6);
	text-decoration: none;
}
.header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
.header-title svg {
	width: 30vw;
	padding: 2vw;
	padding-bottom: 0;
}
.header-title path {
	fill: #000;
	transition: 0.2s;
}
/*.header-title a{
    color: #fff;
    font-weight: bold;
    font-size: 10vw;
    padding: 0 2vw;
    text-decoration: none;
}
*/
.signup {
	padding: 40px;
	padding-top: 30px;
	border-radius: 3px;
	margin-top: 60px;
	color: #ffffffcf;
}
.signup b {
	color: #fff;
}
.signup .button {
	padding: 10px 20px;
	border: 0;
	background: #000000aa;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	transition: 0.2s;
}
.signup .button:hover {
	transform: translate(0, -2px);
	box-shadow: 0 8px 20px #00000020, 0 2px 3px #00000022;
}
.signup h1 {
	margin: 0;
	margin-bottom: 10px;
	color: #fff;
}
.signup input {
	font: inherit;
	font-size: 120%;
}
.signup form {
	margin: 0;
}
.signup .email {
	padding: 10px;
	border: 0;
	border-radius: 3px;
	margin-top: 20px;
	width: 300px;
	max-width: 100%;
}
.footer {
	padding: 3vw;
	/*border-top: 1px solid rgba(0, 0, 0, 0.17);*/
	margin-top: 40px;
	text-align: right;
}
@media (max-width: 740px) {
	.header {
		display: block;
		padding: 20px;
		padding-bottom: 0;
	}
	.content {
		padding-top: 0;
	}
	/*	.header-title {
		text-align: center;
	}
	.header-title a {
		padding: 0;
		font-size: 28vw;
		font-size: 88px;
	}
*/
	.header-title svg {
		width: 100%;
		padding: 0;
		margin-bottom: 20px;
	}
	.highlight {
		padding: 2px;
	}
	.labels {
		margin: -2px;
		font-size: 90%;
	}
	.signup {
		padding: 20px;
	}
	.signup .email {
		width: 100%;
	}
	.signup .button {
		display: block;
		width: 100%;
		margin-top: 20px;
	}
}
