body {
	font-family: Avenir;
	margin: 0;
	color: rgba(255, 255, 255, 0.77);
	display: flex;
    flex-direction: column;
}
.content {
	max-width: 700px;
	margin: auto;
	padding: 20px;
	flex: 1;
}
.labels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    margin-right: 2vw;
    max-width: 450px;
}
.highlight:hover {
	color: white;
}
.highlight{
	padding: 10px;
	color: rgba(255,255,255,.6);
	text-decoration: none;
}
.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.header-title a{
    color: #fff;
    font-weight: bold;
    font-size: 10vw;
    padding: 0 2vw;
    text-decoration: none;
}
.footer {
    padding: 3vw;
    background: rgba(0, 0, 0, 0.17);
    margin-top: 40px;
    text-align: right;
}
@media(max-width: 740px) {
	.header {
		display: block;
		padding: 20px;
		padding-bottom: 0;
	}
	.content {
		padding-top: 0;
	}
	.header-title {
		text-align: center;
	}
	.header-title a {
		padding: 0;
		// font-size: 28vw;
		font-size: 88px;
	}
	.labels {
		margin: -5px;
		font-size: 90%;
	}
}