body {
    /*background: #484c57;//#414551;*/
}
.header-title svg path{
    fill: hsl(325deg 100% 80%);
}
h1, h2, h3, .current {
    color: hsl(325deg 100% 80%);
}


.photos {
    /*padding:  20px;*/
}

.photos img {
    /*width: 70vw;*/
    max-width: 100%;
    max-height: 80vh;
    /*opacity: .5;*/
    transition: .4s;
    margin-bottom: 20px;
    outline: none;
    box-sizing: border-box;
}

.photos img:hover {
    /*opacity: .7*/
}

.photos img.slick-center {
    opacity: 1;
}
.slick-slide {
    height: auto !important;
    cursor: pointer;
}
.slick-next {
    right: 8vw;
}
.slick-prev {
    left: 8vw;
    z-index: 2;
}

.slick-prev, .slick-next {
    width: auto;
    height: auto;
}



.slick-prev:before, .slick-next:before{
    font-size: 80px;
    font-family: Avenir, sans-serif;
}


.signup {
    background: hsl(325deg 100% 80% / 29%);
}
.signup .button {
    background: hsl(325deg 100% 80%);
}
.img-wrap-mobile {
    display: none;
    margin: 0 -20px;
    margin-bottom: 40px;
    text-align: center;
    /*background-color: rgba(255, 255, 255, 0.12);*/
}

.person::after {
    content: " ";
    display: block;
    clear: both;
}

.person h2 {
    margin-top: 0
}
.img-wrap img {
    width: 160px;
    /*border: 5px solid rgba(255, 255, 255, 0.21); //#51586e;*/
    box-sizing: border-box;
    padding-top: 6px;
}
.img-wrap {
    padding-right: 35px;
    float: left;
}
#headshot-mobile {
    max-width: 40%;
    /*border: 3px solid rgba(255, 255, 255, 0.21);*/
}
iframe {
    width: 700px;
    max-width: 100%;
    height:  400px;
    background: black;
}
.detail {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.detail h1 {
    margin-top:  0;
    margin-bottom: 20px;
}
.dark {
    background: hsl(219deg 23% 7%);
    padding: 20px 0;
    overflow: hidden;
    text-align: center;
}
.dark h1 {
    margin-top:  20px;
    margin-bottom: 30px;    
}
.dark .footer {
    color: #fff6;
    text-align: center;
}
.desc {
    width: 600px;
}
@media(max-width: 740px) {
    .detail {
        margin-bottom: 0;
    }
    .img-wrap {
        display: none;
    }
    .img-wrap-mobile {
        display: block;
    }
}